


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a.button{
		background:url(img/button.gif);
		display:block;
		color:#555555;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
		width:191px;
	}

	a:hover.button{
		color:#0066CC;
								}
                .add{
		background:url(img/add.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.delete{
		background:url(img/delete.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.user{
		background:url(img/user.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}



@media screen and (max-width: 640px) {
  #map-canvas {
    height: 25%;
    width : 94%;
    margin-left: 3%;
    float:left;
  }

  #calendrier{
    width: 100%;
  }

  #icones{
    width: 100%;
  }

  #annonce{
    padding-top: 2%;
    width: 100%;
  }
.container{
    width:100%;
    height:auto;
}

.block{
    display: inline-block;
    color:white;
    font-size:24px;
    text-align: center;
    line-height: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.block-1{
    background-image: url(/vue/img/icones/baby.png);
    background-repeat: no-repeat;
    max-width: 50px;
    background-size: 100%;
    padding-top: :3%;
}

.x-2{
    width:72px;
}

.y-2{
    height:72px;
}
  }

  @media screen and (min-width: 640px) {

    .annonceBaby{
      background-image: url(./../img/icones/baby.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 8%;
      width: 100%;
    }

    #map {
      height: 25%;
      width : 96.3%;
      margin-left: 3%;
      padding-top: 15%;
      margin-bottom: 1%;
    }

    #annonce{
      padding-left: 3%;
    }

    #calendrier{
      height: 60%;
      width: 40%;
    }

  .container{
      width:auto;
      height:auto;
  }

  .block{
      display: inline-block;
      color:white;
      font-size:24px;
      text-align: center;
      line-height: 50px;
  }

  .annonce{
    display: inline-block;
    color:white;
    font-size:24px;
    text-align: center;
    line-height: 50px;
  }

  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }

  .block-1{
        background-image: url(./../img/icones/baby.png);

      background-repeat: no-repeat;
      background-size: auto;
      padding-top: :3%;
      background-size: 100%;
  }

  .block-LogoAnnonceTumblr{
      background-image: url(http://icon-icons.com/icons2/870/PNG/72/square_tumblr_icon-icons.com_68019.png);
      background-repeat: no-repeat;
      background-size: auto;
      padding-top: :3%;
  }

  .block-LogoAnnonceIn{
      background-image: url(http://icon-icons.com/icons2/870/PNG/72/square_pinterest_icon-icons.com_68015.png);
      background-repeat: no-repeat;
      background-size: auto;
      padding-top: :3%;
  }

  .block-LogoAnnonceBad{
      background-image: url(http://icon-icons.com/icons2/870/PNG/72/square_badoo_icon-icons.com_68023.png);
      background-repeat: no-repeat;
      background-size: auto;
      padding-top: :3%;
  }



  .block-AnnonAdre{
      background-color: #294055;
      background-repeat: no-repeat;
      background-size: 100%;
      padding-right: 95%;
      border-radius: 50px;
      border: 8px solid white;
      margin-bottom: 10px;
  }

  .block-AnnonAdrePin{
      background-color: #A71D22;
      background-repeat: no-repeat;
      background-size: 100%;
      padding-right: 95%;
      border-radius: 50px;
      border: 8px solid white;
      margin-bottom: 10px;
  }

  .block-AnnonAdreBad{
      background-color: #05A43A;
      background-repeat: no-repeat;
      background-size: 100%;
      padding-right: 95%;
      border-radius: 50px;
      border: 8px solid white;
      margin-bottom: 10px;
  }






  .LigneAnnonce {
    background-color: #395976;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 8px solid white;
  }

  .x-2{
      width:72px;
  }

  .x-AnnonAdre{
      width:40%;
  }

  .y-2{
      height:72px;
  }

  .y-logo{
      height:72px;
  }

  .y-annonce{
      height:71px;
  }


    }
